<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    line-height: 1.65;">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width"/>

  </head>
  <body style="padding: 20px;
  width: 100% !important;
    height: 100%;
    background: #efefef;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;">

  <table style="width: 100% !important;
    height: 100%;
    background: #efefef;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;margin:0;padding:0;">
      <tr>
          <td style="display: block !important;
    clear: both !important;
    margin: 0 auto !important;
    max-width: 580px !important;">

              <!-- Message start -->
              <table style="width: 100% !important;
      border-collapse: collapse;">
                  <tr>
                      <td align="center" style="padding: 20px 0;
      background: #04B404;
      color: white;">

                          <h2 style="line-height: 1.25;font-size: 24px;margin: 0 auto !important;
        max-width: 90%;
        text-transform: uppercase;">YourChallenge</h2>

                      </td>
                  </tr>
                  <tr>
                      <td style="background: white;
      padding: 30px 35px;">

                          <h2 style="
                          margin-bottom: 20px;
                          line-height: 1.25;font-size: 24px;">Hola :{name},</h2>

                          <p>Se ha actualizado la constraseña de su cuenta en Yourchallenge.</p>

                          <table style="width: 100% !important;
      border-collapse: collapse;">
                              <tr>
                                  <td align="center">
                                      <p >
                                          <a href="#" class="button" style="display: inline-block;                        
    text-decoration: none;
    color: white;
    background: #04B404;
    border: solid #04B404;
    border-width: 10px 20px 8px;
    font-weight: bold;
    border-radius: 4px;">Botón para alguna acción</a>
                                      </p>
                                  </td>
                              </tr>
                          </table>

                          <p>Esta sección sirve para agregar información para restablecer la contraseña si le robaron la cuenta 
                            <a style="color: #04B404;
    text-decoration: none;" href="http://yourchallenge-appstions.rhcloud.com/admin/index.php">YourChallenge</a>.</p>

                          <p><em>– Appstions Team</em></p>

                      </td>
                  </tr>
              </table>

          </td>
      </tr>
      <tr>
          <td style="display: block !important;
    clear: both !important;
    margin: 0 auto !important;
    max-width: 580px !important;">

              <!-- Message start -->
              <table style="width: 100% !important;
      border-collapse: collapse;">
                  <tr>
                      <td align="center" style="background: none;">
                          <p style="margin: 0; margin-top:20px;
          color: #888;
          text-align: center;
          font-size: 14px;
          font-weight: normal;">Enviado por <a style="color: #888;
          text-decoration: none;
          font-weight: bold;" href="#">Appstions S.A</a>, San José, Costa Rica</p>
                          <p style="margin: 0;
          color: #888;
          text-align: center;
          font-size: 14px;
          font-weight: normal;"><a style="color: #888;
          text-decoration: none;
          font-weight: bold;" href="mailto:">info@yourchallenge.com</a> </p>
                      </td>
                  </tr>
              </table>

          </td>
      </tr>
  </table>
  </body>
  </html>